.weather-element {
    font-size: 16px;
    width: 100px;
}

.weather-element div {
    margin-top: 10px;
}

.icon {
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

.date {
    font-weight: normal;
    color: #46a2ff;
    margin: 0;
}

.weather-element h4 {
    margin: 0;
}
