.loader {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

}

.weather{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.left-info{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.right-info{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.category {
    margin: 0;
    text-align: right;
}

.city{
    margin: 0;
    font-size: 40px;
}

.right-info div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

main {
    padding: 25px 80px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(210, 210, 210);
    color: #737373;
    font-size: 20px;
    height: 50px;
    padding: 5px 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 30px;
    margin: 0 50px;
}

.search {
    margin-left: auto;
    height: 25px;
    padding-left: 10px;
}
