.form-container {
    background-image: url('../images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    background-color: white;
    border: darkgrey 8px solid;
    padding: 15px;
    font-size: 16px;
    width: 225px;
    min-height: 250px;
    font-family: 'Alum Oblique', serif;
}

.form-div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}

#login, #password {
    border: none;
    text-align: center;
}

#login:focus, #password:focus {
    outline: none;
}

.log-to-web {
    text-align: center;
    margin: 0;
}

.form-hr {
    margin-bottom: 15px;
    margin-top: 0;
}

.form-button {
    padding: 6px;
    border-radius: 10px;
    background-color: #007cf5;
    color: white;
    width: 80%;
    margin: 10px auto auto;
}

#error{
    margin: 10px 0 0;
    color: red;
}
